PRIVATE_KEY=
ALCHEMY_API_KEY=
RPC_URL=

CHAIN_IDS=31337,31338
RPC_URLS=http://127.0.0.1:8545,http://127.0.0.1:8546

TOKEN_SYMBOLS=USDC,USDT,DAI,WETH,WBTC,LINK,UNI,AAVE

BRIDGE_31337_ADDRESS=
BRIDGE_31338_ADDRESS=

USDC_31337_ADDRESS=
USDT_31337_ADDRESS=
DAI_31337_ADDRESS=
WETH_31337_ADDRESS=
WBTC_31337_ADDRESS=
LINK_31337_ADDRESS=
UNI_31337_ADDRESS=
AAVE_31337_ADDRESS=
USDC_31338_ADDRESS=
USDT_31338_ADDRESS=
DAI_31338_ADDRESS=
WETH_31338_ADDRESS=
WBTC_31338_ADDRESS=
LINK_31338_ADDRESS=
UNI_31338_ADDRESS=
AAVE_31338_ADDRESS=